body {
    background: peachpuff;
    font: normal small-caps normal 16px/1.4 "Serif";
}

#maintitle {
    text-align: center;
}

#maintext {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#koimainp {
    text-align: center;
    font-size: 20px;
}

.topnav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    background: skyblue;
    padding: 10px 0;
}

#mainpic{
    display: flex;
    margin: 0 auto;
    width: 600px;
}

img.newpics {
    display: flex;
    margin: 0 auto;
    width: 400px;
}

#introvideo {
    display: flex;
    margin: 0 auto;
}

#gallerybutton {
    size:500px;
    font-size: 50px;
    display: flex;
    margin: 0 auto;
}